/* 
div.suggestion-container {
    border-color: red;
    height: 50vh!important;
    position: absolute;
    top:100px;
    width:500px;
} */
/* 
div.metadata-container {
    visibility:hidden;
    display: none;
} */