/.obsidian/workspace.json
/.obsidian/plugins/remember-cursor-position/cursor-positions.json
/.obsidian/plugins/recent-files-obsidian/data.json
.DS_Store
.obsidian/plugins/various-complements/histories.json
.obsidian/plugins/various-complements/histories.json
.obsidian/graph.json
.idea
/.trash
.obsidian/plugins/obsidian-auto-link-title/data.json
.obsidian/plugins/text-extractor/cache
